<!DOCTYPE html>
<html>
  <head>
    <title>It's the News</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.js"></script>
    <script src="/javascripts/scripts/angularApp.js"></script>
    <script src="/javascripts/scripts/controllers/main.js"></script>
    <script src="/javascripts/scripts/controllers/posts.js"></script>
    <script src="/javascripts/scripts/services/posts.js"></script>
  </head>
  <body ng-app="newsApp">
    <ui-view></ui-view>
    <script type="text/ng-template" id="/home.html">
      <div>
        <h1>Its The News</h1>
      </div>
      <div ng-repeat="post in posts | orderBy: '-upvotes'">
        <span ng-click="incrementUpvotes(post)">^</span>
        {{post.upvotes}}
        <a ng-show="post.link" href="{{post.link}}">
          {{post.title}}
        </a>
        <span ng-hide="post.link">
          {{post.title}}
        </span>
        <span>
          <a href="#/posts/{{post._id}}">Comments</a>
        </span>
      </div>
      <form ng-submit="addPost()">
        <h3>Add A New Post</h3>
        <input type="text" placeholder="Title" ng-model="title"></input>
        <br>
        <input type="text" placeholder="Link" ng-model="link"></input>
        <br>
        <button type="submit">Post</button>
      </form>
    </script>
    <script type="text/ng-template" id="/posts.html">
      <div>
        <h3>
          <a ng-show="post.link" href="{{post.link}}">
            {{post.title}}
          </a>
          <span ng-hide="post.link">
            {{post.title}}
          </span>
        </h3>
      </div>
      <div ng-repeat="comment in post.comments | orderBy:'-upvotes'">
        <span ng-click="incrementUpvotes(comment)">^</span>
        {{comment.upvotes}} - by {{comment.author}}
        <span>{{comment.body}}</span>
      </div>
      <form ng-submit="addComment()">
        <h3>Add a new comment</h3>
        <div>
          <input type="text" placeholder="Comment" ng-model="body"></input>
        </div>
        <button type="submit">Post</button>
      </form>
    </script>
  </body>
</html>
